<div class="raffle-name">
  <strong>
    <%= "#{raffle.name}" %>
  </strong>
</div>
<div class="raffle-img">
  <%= image_tag raffle.image.url, width: 150, height: 150 %>
</div>
<div class="author-info">
  <span class="raffle-author-name">Creada por: <%= "#{raffle.user.full_name}" %></span>
  <span class="raffle-author-email">(<%="#{raffle.user.email}" %>)</span>
</div>
<div class="timestamp">
  Creada hace <%= time_ago_in_words(raffle.created_at) %>
</div>
<div class="prize">
  Premio: <%= raffle.prize %>
</div>
<div class="price">
  Valor: $<%= number_with_delimiter(raffle.price, delimiter: ".") %>
</div>
<div class="remaining_numbers">
  Números disponibles: <%= raffle.max_number - Participate.where("raffle_id = ?", raffle.id).count %>
</div>
<div class="finish-date">
  <% if Time.now < raffle.finish_date %>
    Termina en: <%= distance_of_time_in_words(Time.now, raffle.finish_date) %>
  <% else %>
    Finalizada
    <br/>
    <% if raffle.winner_id %>
      <% winner = User.find(raffle.winner_id) %>
      Ganador: <%= winner.first_name + " " + winner.last_name + " (" + winner.email + ")" %>
    <% end %>
  <% end %>
</div>
<div class="rifapp-actions">
<% if raffle.max_number - Participate.where("raffle_id = ?", raffle.id).count  > 0 %>
  <%= link_to 'Comprar números', multi_new_participates_path(:raffle_id => raffle.id, :user_id => current_user.id), :class => "center" %>
<% end %>

<% if current_user and not raffle.user_id  == current_user.id and not Participate.where("raffle_id = ? AND user_id= ?", raffle.id, current_user.id).exists? %>
  <% if not Bookmark.where("raffle_id = ? AND user_id= ?", raffle.id, current_user.id).exists? %>
    <%= link_to 'Guardar', bookmarks_path(:raffle_id => raffle.id, :user_id => current_user.id), :method => :post, :class => "center" %>
  <% else %>
    <%= link_to 'Remover de Guardadas', bookmarks_path(:raffle_id => raffle.id, :user_id => current_user.id), :method => :delete, :class => "center" %>
  <% end %>
<% end %>
<% if not current_controller?("comments") %>
  <%= link_to 'Comentarios', raffle_comments_path(raffle.id), :class => "center" %>
<% end %>
<% if current_user and raffle.user_id == current_user.id and not current_controller?("comments") %>
  <%= link_to 'Confirmar', raffle_confirmations_path(:raffle_id => raffle.id), :class => "center" %>
  <%= link_to 'Editar', edit_raffle_path(raffle.id), :class => "center" %>
  <%= link_to 'Eliminar', raffle_path(raffle.id), method: :delete, :class => "center" %>
  <% if !raffle.winner_id and Participate.where("raffle_id = ? AND confirmed = true", raffle.id).count > 0 %>
    <%= form_tag generate_winner_raffle_confirmations_path(:raffle_id => raffle.id) do %>
      <%= hidden_field_tag :raffle_id, raffle.id %>
      <%= submit_tag 'Sortear', :class => "center sortear-btn" %>
    <% end %>
  <% end %>
<% end %>
</div>