<h1 class="title">Iniciar Sesi&oacute;n</h1>
<div id="login-form">
  <%= form_for :session, url: session_path do |f| %>
    <div class="field">
      <%= f.label :email, "Email:" %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password, "Contraseña:" %>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit 'Iniciar Sesión' %>
    </div>
  <% end %>
</div>