<p id="notice"><%= notice %></p>

<h1 class="title">Rifa</h1>

<%= render 'raffles/preview', raffle: @raffle %>

<h1 class="title">Comentarios</h1>

<table class="center">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Comentario</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user.first_name + " " + comment.user.last_name %></td>
        <td><%= comment.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Comentario', new_raffle_comment_path(params[:raffle_id]), :class => "rifapp-btn" %>
