<%= text_field_tag :search, params[:search], placeholder: "Filtrar...", id: "number-search" %>

<span id="nan-error"class="error"></span>

<%= form_tag multi_create_participates_path do  %>
  <ul class="check-box-list center">
    <% (1..Raffle.find(params[:raffle_id]).max_number).each do |i| %>
      <% if not @taken.include?(i) %>
        <li class="check-box-item">
          <%= check_box_tag "numbers[]", i %>
          <%= label_tag "numbers[]", i, class: "check-box-label" %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <%= hidden_field_tag :raffle_id, params[:raffle_id] %>
  <%= hidden_field_tag :user_id, params[:user_id] %>

  <div class="actions center buttons">
    <%= submit_tag 'Comprar' %>
    <%= link_to 'Volver', :back, :class => "back-button" %>
  </div>

<% end %>
