<%= form_tag multi_create_participates_path do  %>

  <div class="check-box-list center">
    <% (1..Raffle.find(params[:raffle_id]).max_number).each do |i| %>
      <% if not @taken.include?(i) %>
        <%= check_box_tag "numbers[]", i %>
        <%= label_tag "numbers[]", i %>
      <% end %>
    <% end %>
  </div>

  <%= hidden_field_tag :raffle_id, params[:raffle_id] %>
  <%= hidden_field_tag :user_id, params[:user_id] %>

  <div class="actions center">
    <%= submit_tag 'Comprar' %>
    <%= link_to 'Volver', :back, :class => "back-button" %>
  </div>

<% end %>
